@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');

body {
    /* Color de fondo */
    background-color: #f7f3e8; 
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

/* El contenedor principal */
.app-container {
    width: 100%;
    max-width: 600px;
}

/* Cuaderno */
.notepad-container {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    /* Simula los agujeros de la libreta */
    border-left: 50px solid #e8e2d0; 
}

/* Titulo de la app */
.notepad-title {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #333;
    padding: 20px;
    margin: 0;
    border-bottom: 2px dashed #ddd;
}

/* Estilo para la entrada */
.notepad-container input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0f3ff;
    padding: 15px 15px 15px 20px;
    font-size: 1.1em;
    box-sizing: border-box; 
}

.notepad-container input:focus {
    outline: none; 
    background-color: #faffbd; 
}

/* Lista de tareas */
.notepad-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Estilo base de tarea */
.notepad-container li {
    padding: 15px 15px 15px 20px;
    border-bottom: 1px solid #e0f3ff;
    font-size: 1.1em;
    position: relative;
    transition: background-color 0.3s;
}

/* Mensaje de "No hay tareas" */
.empty-message {
    color: #888;
    text-align: center;
    font-style: italic;
}

/* Cada tarea individual */
.task-item {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/* Ícono de borrado */
.delete-icon {
    font-size: 1.2em;
    color: #d32323;
    cursor: pointer;
    
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.task-item:hover .delete-icon {
    opacity: 1;
    visibility: visible;
}

/* Contador de tareas al final */
.task-counter {
    padding: 10px 20px;
    font-size: 0.9em;
    color: #777;
    text-align: right;
    border-top: 1px solid #eee;
}